<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Python Quiz</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% block sidebar %}
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
      <li><a href="/"> Home </a><li>
      <li> Привет, {{ user.get_username }}!</li>

      {% if user.groups.all.0.name == "student" %}

      <li><a href="{% url 'userpolls' user.get_username %}">Мои опросы</a></li>
      {% else %}
      <li><a href="{% url 'createpoll'%}">Создать опрос</a></li>
      <li><a href="{% url 'studentres'%}">Результаты студентов</a></li>
      {% endif %}
      <li class="logout"><a href="{% url 'logout'%}">Выйти</a></li>
   {% else %}
      <li><a href="/"> Home </a><li>
      <li><a href="{% url 'login'%}?next/}">Войти</a></li>
      <li><a href="{% url 'register'%}">Регистрация</a></li>
   {% endif %}
  </ul>
  {% endblock %}
  {% block content %}{% endblock %}
</body>
</html>