{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="content">
    {% if user.is_authenticated %}
        <form action="{% url 'changepollsuccess'%}" method="post">
            {% csrf_token %}
            Выберите тему опроса:
            <select name = 'topic' value = "{{poll.topic.name}}">
                {% for topic in topics %}
                <option value="{{topic}}">{{topic}}</option>
                {% endfor %}
            </select><br><br>

            Введите название опроса: <input type="text" name="pollname" value="{{poll.name}}" /><br><br>

            <div id = "questions"></div>
            <button id ="addQ" type="button">Добавить вопрос</button><br><br>
            <input type="hidden" value="{{poll.name}}" name="oldpollname" />

            <input type="submit" value="Сохранить" />
        </form>

            {% for question, choices in dict_choices.items %}
                {% if question.1.questionType.name == 'question with multiple right answers' %}
                        <script>

                            var div = document.createElement('div');
                            var question_text = document.createElement('p');
                            var text1 = document.createElement('p')
                            text1.innerHTML = "Введите текст вопроса: "
                            var question_text = document.createElement('input');
                            question_text.type = "text";
                            question_text.name = "questiontext"+index;
                            question_text.value = "{{question.1.text}}";
                            var question_type = document.createElement('input');
                            question_type.type = "hidden";
                            question_type.name = "questiontype"+index;
                            question_type.value = "{{question.1.questionType.name}}";
                            var index = {{question.0}};
                            div.id = "mult" + index;
                            var innerdiv = document.createElement('div');
                            innerdiv.setAttribute("id", "question"+index);
                            document.getElementById("questions").appendChild(innerdiv);
                            document.getElementById("question"+index).appendChild(question_type);
                            document.getElementById("question"+index).appendChild(div);
                            document.getElementById("mult" + index).appendChild(document.createTextNode("Введите текст вопроса "));
                            document.getElementById("mult"+index).appendChild(question_text);
                            document.getElementById("mult" + index).appendChild(document.createElement('br'));
                            i = 0;


                            {% for x in choices %}
                                var input = document.createElement('input');
                                input.id = "choice_box_"+index+"_"+i;
                                input.type = "checkbox";
                                input.name = "choice_box_"+index+"_"+i;
                                {% if x.right_answer == True %}
                                    input.checked = "checked";
                                {% endif %}

                                var inputt = document.createElement('input');
                                inputt.id = "choice_"+index+"_"+i;
                                inputt.type = "text";
                                inputt.name = "choice_"+index+"_"+i;
                                inputt.value = "{{x.answerText}}";


                                document.getElementById("mult" + index).appendChild(input);
                                document.getElementById("mult" + index).appendChild(inputt);
                                console.log("{{ x.answerText }}");
                                document.getElementById("mult" + index).appendChild(document.createElement('br'));
                                i++;

                            {% endfor %};



                        </script>


                {% endif %}

                {% if question.1.questionType.name == 'question with one right answer' %}
                    <script>
                            var div = document.createElement('div');
                            var question_text = document.createElement('p');
                            var text1 = document.createElement('p')
                            text1.innerHTML = "Введите текст вопроса: "
                            var question_text = document.createElement('input');
                            question_text.type = "text";
                            question_text.name = "questiontext"+index;
                            question_text.value = "{{question.1.text}}";
                            var question_type = document.createElement('input');
                            question_type.type = "hidden";
                            question_type.name = "questiontype"+index;
                            question_type.value = "{{question.1.questionType.name}}";
                            var index = {{question.0}};
                            div.id = "one" + index;
                            var innerdiv = document.createElement('div');
                            innerdiv.setAttribute("id", "question"+index);
                            document.getElementById("questions").appendChild(innerdiv);
                            document.getElementById("question"+index).appendChild(question_type);
                            document.getElementById("question"+index).appendChild(div);
                            document.getElementById("one" + index).appendChild(document.createTextNode("Введите текст вопроса "));
                            document.getElementById("one"+index).appendChild(question_text);
                            document.getElementById("one" + index).appendChild(document.createElement('br'));
                            i = 0;


                            {% for x in choices %}
                                var input = document.createElement('input');
                                input.id = "choice_box_"+index+"_"+i;
                                input.type = "radio";
                                input.name = "choice_radio"+index;

                                {% if x.right_answer == True %}
                                    input.checked = "checked";
                                {% endif %}

                                var inputt = document.createElement('input');
                                inputt.id = "choice"+i+"_"+index;
                                inputt.type = "text";
                                inputt.name = "choice"+i+"_"+index;
                                inputt.value = "{{x.answerText}}";


                                document.getElementById("one" + index).appendChild(input);
                                document.getElementById("one" + index).appendChild(inputt);
                                document.getElementById("one" + index).appendChild(document.createElement('br'));
                                i++;

                            {% endfor %};



                        </script>

                {% endif %}

                {% if question.1.questionType.name == 'question with text field' %}
                    <script>
                        var question_type = document.createElement('input');
                        question_type.type = "hidden";
                        question_type.name = "questiontype"+index;
                        question_type.value = "{{question.1.questionType.name}}";
                        var div = document.createElement('div');
                        var index = {{question.0}};
                        div.id = "text" + index;
                        var text1 = document.createTextNode("Введите текст вопроса: ")
                        var input = document.createElement('input');
                        input.type = "text";
                        input.name = "questiontext"+index;
                        input.value = "{{question.1.text}}";


                        var text2 = document.createTextNode("Введите текст правильного ответа: ")
                        var inputt = document.createElement('input');
                        inputt.type = "text";
                        inputt.name = "rightanswer"+index;
                        inputt.value = "{{choices.0.answerText}}";

                        var innerdiv = document.createElement('div');
                        innerdiv.setAttribute("id", "question"+index);
                        document.getElementById("questions").appendChild(innerdiv);
                        document.getElementById("question"+index).appendChild(question_type);
                        document.getElementById("question"+index).appendChild(div);
                        document.getElementById("text"+index).appendChild(text1);
                        document.getElementById("text"+index).appendChild(input);
                        document.getElementById("text"+index).appendChild(document.createElement('br'));
                        document.getElementById("text"+index).appendChild(text2);
                        document.getElementById("text"+index).appendChild(inputt);
                        document.getElementById("text"+index).appendChild(document.createElement('br'));

                    </script>


                {% endif %}
            {% endfor %}

        <script>
            var q = document.getElementById("questions").childNodes;
            for (var i = 0; i < q.length; i++){
                var elem = q[i];
                console.log(elem);
                var name = elem.id;
                init(name);

            }

            function init(name) {

                var elem = document.getElementById(name);
                var index = elem.id.replace("question","");;
                //console.log(name);
                //if (name.includes("mult"))
                //    index = elem.id.replace("mult","");

                //if (name.includes("one"))
                //    index = elem.id.replace("one","");

               // if (name.includes("text"))
                //    index = elem.id.replace("text","");

                var btn = document.createElement("BUTTON");        // Create a <button> element
                btn.id = "removeQ" + index;
                btn.type = "button";
                var t = document.createTextNode("Удалить вопрос");       // Create a text node
                btn.appendChild(t);                                // Append the text to <button>
                document.getElementById(name).appendChild(btn);
                document.getElementById(name).appendChild(document.createElement("br"));
                document.getElementById(name).appendChild(document.createElement("br"));
                btn.addEventListener('click', function () {
                    var id = btn.id.replace("removeQ", "");
                    console.log(id);
                    document.getElementById("question"+id).remove();
                });
            }
        </script>
        <script>
            var question = [
            'Выберите тип вопроса:\n' +
            '\n' +
            '    <select>\n' +
            '        {% for questiontype in types %}\n' +
            '        <option value="{{questiontype}}">{{questiontype}}</option>\n' +
            '        {% endfor %}\n' +
            '    </select><br><br>' +
            '    <div id = "div#"></div>'
            ].join('');

            var questionTA = [
                'Текст вопроса: <br>' +
                '<input type="text" name="questiontext#" /><br><br>' +
                'Правильный ответ: <br>' +
                '<input type="text" name="rightanswer#" /><br><br>' //+
            ].join('');

            var questionOR = [
                'Текст вопроса: <br>' +
                '<input type="text" name="questiontext#" /><br><br>' +
                'Варианты:(отметьте radio button правильный ответ)<br><br>' +
                '<input type="radio" name="choice_radio#" value ="1"/> <input type="text" name="choice1_#"/><br><br>' +
                '<input type="radio" name="choice_radio#" value ="2"/> <input type="text" name="choice2_#"/><br><br>' +
                '<input type="radio" name="choice_radio#" value ="3"/> <input type="text" name="choice3_#"/><br><br>' +
                '<input type="radio" name="choice_radio#" value ="4"/> <input type="text" name="choice4_#"/><br><br>'// +
            ].join('');

            var questionMR = [
                'Текст вопроса: <br>' +
                '<input type="text" name="questiontext#" /><br><br>' +
                'Варианты:(отметьте check button правильные ответы)<br><br>' +
                '<input type="checkbox" name="choice_box1_#"/> <input type="text" name="choice1_#"/><br><br>' +
                '<input type="checkbox" name="choice_box2_#"/> <input type="text" name="choice2_#"/><br><br>' +
                '<input type="checkbox" name="choice_box3_#"/> <input type="text" name="choice3_#"/><br><br>' +
                '<input type="checkbox" name="choice_box4_#"/> <input type="text" name="choice4_#"/><br><br>'// +
            ].join('');
            var count = {{nextID}};

            document.getElementById("addQ").addEventListener("click", function(){
            count++;
            var div = document.createElement('div');
            div.setAttribute("id", "question"+count);

            div.innerHTML = question.replace('#', count).replace('#', count);
            console.log(div.getElementsByTagName('select'));
            var select = div.getElementsByTagName('select')[0];
            select.id = count;
            select.name = 'questiontype'+count;
            document.getElementById("questions").appendChild(div);

            select.addEventListener('change', function update() {
                var select_id = select.id;
                if (select.value == 'question with text field') {
                    var div1 = document.createElement('div');
                    div1.innerHTML = questionTA.replace('#', select_id).replace('#', select_id).replace('#', select_id);
                    var sp = document.getElementById("div" + select_id).firstChild;
                    console.log(sp);
                    if (sp != null)
                        document.getElementById("div" + select_id).replaceChild(div1, sp);
                    else
                        document.getElementById("div" + select_id).appendChild(div1);

                } else {
                    if (select.value == 'question with multiple right answers') {
                        var div2 = document.createElement('div');
                        var res = questionMR;
                        for (var i = 0; i < 10; i++)
                            res = res.replace('#', select_id);
                        div2.innerHTML = res;
                        var sp = document.getElementById("div" + select_id).firstChild;
                        console.log(sp);
                        if (sp != null)
                            document.getElementById("div" + select_id).replaceChild(div2, sp);
                        else
                            document.getElementById("div" + select_id).appendChild(div2);

                    } else {
                        if (select.value == 'question with one right answer') {
                            var div3 = document.createElement('div');
                            var res = questionOR;
                            for (var i = 0; i < 10; i++)
                                res = res.replace('#', select_id);
                            div3.innerHTML = res;
                            var sp = document.getElementById("div" + select_id).firstChild;
                            console.log(sp);
                            if (sp != null)
                                document.getElementById("div" + select_id).replaceChild(div3, sp);
                            else
                                document.getElementById("div" + select_id).appendChild(div3);


                        } else {

                            var sp = document.getElementById("div" + select_id).firstChild;
                            if (sp != null)
                                document.getElementById("question" + select_id).remove();
                        }
                    }
                }
                var sp = document.getElementById("removeQ" + select_id);
                if (sp == null){
                    var btn = document.createElement("BUTTON");        // Create a <button> element
                    btn.id = "removeQ" + select_id;
                    var t = document.createTextNode("Удалить вопрос");       // Create a text node
                    btn.appendChild(t);                                // Append the text to <button>
                    document.getElementById("div" + select_id).appendChild(btn);
                    btn.addEventListener('click', function () {
                        var id = btn.id.replace("removeQ", "");
                        console.log("question " + id);
                        document.getElementById("question" + id).remove();
                    });
                }

            });


            });


        </script>
  {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
  {% endif %}
</div>
{% endblock %}