{% extends "base_generic.html" %}

{% block content %}
<div class="content">
      {% if user.is_authenticated %}
<form action="{% url 'savepollsuccess'%}" method="post">
    {% csrf_token %}
    Выберите тему создаваемого опроса:
    <select name = 'topic'>
        {% for topic in topics %}
        <option value="{{topic}}">{{topic}}</option>
        {% endfor %}
    </select><br><br>

    Введите название опроса <span class="remark">(используйте только латинские символы)</span>: <br>
    <input type="text" name="pollname" /><br><br>

    <div id = "questions"></div>
    <button id ="addQ" type="button">Добавить вопрос</button><br><br>

    <input type="submit" value="Сохранить" />
</form>

<script>


    var question = [
    'Выберите тип вопроса:\n' +
    '\n' +
    '    <select>\n' +
    '        {% for questiontype in types %}\n' +
    '        <option value="{{questiontype}}">{{questiontype}}</option>\n' +
    '        {% endfor %}\n' +
    '    </select><br><br>' +
    '    <div id = "div#"></div>'
    ].join('');

    var questionTA = [
        'Текст вопроса: <br>' +
        '<input type="text" name="questiontext#" /><br><br>' +
        'Правильный ответ: <br>' +
        '<input type="text" name="rightanswer#" /><br><br>' //+
    ].join('');

    var questionOR = [
        'Текст вопроса: <br>' +
        '<input type="text" name="questiontext#" /><br><br>' +
        'Варианты:(отметьте radio button правильный ответ)<br><br>' +
        '<input type="radio" name="choice_radio#" value ="1"/> <input type="text" name="choice1_#"/><br><br>' +
        '<input type="radio" name="choice_radio#" value ="2"/> <input type="text" name="choice2_#"/><br><br>' +
        '<input type="radio" name="choice_radio#" value ="3"/> <input type="text" name="choice3_#"/><br><br>' +
        '<input type="radio" name="choice_radio#" value ="4"/> <input type="text" name="choice4_#"/><br><br>'// +
    ].join('');

    var questionMR = [
        'Текст вопроса: <br>' +
        '<input type="text" name="questiontext#" /><br><br>' +
        'Варианты:(отметьте check button правильные ответы)<br><br>' +
        '<input type="checkbox" name="choice_box1_#"/> <input type="text" name="choice1_#"/><br><br>' +
        '<input type="checkbox" name="choice_box2_#"/> <input type="text" name="choice2_#"/><br><br>' +
        '<input type="checkbox" name="choice_box3_#"/> <input type="text" name="choice3_#"/><br><br>' +
        '<input type="checkbox" name="choice_box4_#"/> <input type="text" name="choice4_#"/><br><br>'// +
    ].join('');
    var count = 0;

    document.getElementById("addQ").addEventListener("click", function(){
    count++;
    var div = document.createElement('div');
    div.setAttribute("id", "question"+count);

    div.innerHTML = question.replace('#', count).replace('#', count);
    console.log(div.getElementsByTagName('select'));
    var select = div.getElementsByTagName('select')[0];
    select.id = count;
    select.name = 'questiontype'+count;
    document.getElementById("questions").appendChild(div);

    select.addEventListener('change', function update() {
        var select_id = select.id;
        if (select.value == 'Вопрос с текстовым полем') {
            var div1 = document.createElement('div');
            div1.innerHTML = questionTA.replace('#', select_id).replace('#', select_id).replace('#', select_id);
            var sp = document.getElementById("div" + select_id).firstChild;
            console.log(sp);
            if (sp != null)
                document.getElementById("div" + select_id).replaceChild(div1, sp);
            else
                document.getElementById("div" + select_id).appendChild(div1);

        } else {
            if (select.value == 'Вопрос с несколькими вариантами ответов') {
                var div2 = document.createElement('div');
                var res = questionMR;
                for (var i = 0; i < 10; i++)
                    res = res.replace('#', select_id);
                div2.innerHTML = res;
                var sp = document.getElementById("div" + select_id).firstChild;
                console.log(sp);
                if (sp != null)
                    document.getElementById("div" + select_id).replaceChild(div2, sp);
                else
                    document.getElementById("div" + select_id).appendChild(div2);

            } else {
                if (select.value == 'Вопрос с одним правильным ответом') {
                    var div3 = document.createElement('div');
                    var res = questionOR;
                    for (var i = 0; i < 10; i++)
                        res = res.replace('#', select_id);
                    div3.innerHTML = res;
                    var sp = document.getElementById("div" + select_id).firstChild;
                    console.log(sp);
                    if (sp != null)
                        document.getElementById("div" + select_id).replaceChild(div3, sp);
                    else
                        document.getElementById("div" + select_id).appendChild(div3);


                } else {

                    var sp = document.getElementById("div" + select_id).firstChild;
                    if (sp != null)
                        document.getElementById("question" + select_id).remove();
                }
            }
        }
        var sp = document.getElementById("removeQ" + select_id);
        if (sp == null){
            var btn = document.createElement("BUTTON");        // Create a <button> element
            btn.id = "removeQ" + select_id;
            var t = document.createTextNode("Удалить вопрос");       // Create a text node
            btn.appendChild(t);                                // Append the text to <button>
            document.getElementById("div" + select_id).appendChild(btn);
            var hr = document.createElement('hr');
            btn.parentElement.appendChild(hr);
            hr.className = "question-hr";

            btn.addEventListener('click', function () {
                var id = btn.id.replace("removeQ", "");
                console.log("question " + id);
                document.getElementById("question" + id).remove();
            });
        }

    });


    });


</script>
    {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
  {% endif %}
</div>
{% endblock %}