{% extends "base_generic.html" %}
{% load poll_extras %}
{% block content %}
<div class="content">
  {% if user.is_authenticated %}
      <h1>Опросы</h1>
        <p>Пожалуйста, выберите тему:</p>
        {% for topic in topics %}
        <a href="{% url 'pollbytopic' topic%}"> {{topic}} ({{ polls|get_item:topic}})</a> <br>
        {% endfor %}
      </div>
  {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
  {% endif %}
{% endblock %}
