{% extends "base_generic.html" %}
{% block content %}

<div class="content">

    {% if user.is_authenticated %}

<h1> Пожалуйста, выберите один из тестов </h1>
{% for poll in  polls%}
<a href="{% url 'poll' poll.name %}"> {{poll.name}} </a><br>
{% endfor %}

    {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
  {% endif %}

</div>
{% endblock %}

