{% extends "base_generic.html" %}
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">{{ poll }}</h1>





<div class="content">

    {% if user.is_authenticated %}

<form action="{% url 'pollresult' poll user.get_username%}"  method="post">
     {% csrf_token %}
    <div id="questions">


    </div>

    {% for question, choices in dict_choices.items %}
        {% if question.1.questionType.name == 'Вопрос с несколькими вариантами ответов' %}
                <script>
                    var div = document.createElement('div');
                    var question_text = document.createElement('p');
                    question_text.innerHTML = "{{question.1.text}}";
                    var index = {{question.0}};
                    div.id = "mult" + index;
                    document.getElementById("questions").appendChild(div);
                    document.getElementById("mult"+index).appendChild(question_text);
                    i = 0;


                    {% for x in choices %}
                        var input = document.createElement('input');
                        input.id = "choice_box_"+index+"_"+i;
                        input.type = "checkbox";
                        input.name = "choice_box_"+index+"_"+i;
                        input.value = "{{x.answerText}}";
                        document.getElementById("mult" + index).appendChild(input);
                        console.log("{{ x.answerText }}");
                        document.getElementById("choice_box_"+index+"_"+i).after("{{x.answerText}}");
                        document.getElementById("mult" + index).appendChild(document.createElement('br'));
                        i++;

                    {% endfor %};


                </script>


        {% endif %}

        {% if question.1.questionType.name == 'Вопрос с одним правильным ответом' %}
            <script>
                    var div = document.createElement('div');
                    var question_text = document.createElement('p');
                    question_text.innerHTML = "{{question.1.text}}";
                    var index = {{question.0}};
                    div.id = "one" + index;
                    document.getElementById("questions").appendChild(div);
                    document.getElementById("one"+index).appendChild(question_text);
                    i = 0;


                    {% for x in choices %}
                        var input = document.createElement('input');
                        input.id = "choice_box_"+index+"_"+i;
                        input.type = "radio";
                        input.name = "choice_radio_"+index;
                        input.value = "{{x.answerText}}";
                        document.getElementById("one" + index).appendChild(input);
                        console.log("{{ x.answerText }}");
                        document.getElementById("one" + index).lastChild.after("{{x.answerText}}");
                        document.getElementById("one" + index).appendChild(document.createElement('br'));
                        i++;

                    {% endfor %};


                </script>

        {% endif %}

        {% if question.1.questionType.name == 'Вопрос с текстовым полем' %}
            <script>
                var div = document.createElement('div');
                var question_text = document.createElement('p');
                question_text.innerHTML = "{{question.1.text}}";
                var index = {{question.0}};
                div.id = "text" + index;
                document.getElementById("questions").appendChild(div);
                document.getElementById("text"+index).appendChild(question_text);
                var input = document.createElement('input');
                input.id = "text_"+index;
                input.type = "text";
                input.name = "answer_"+index;
                document.getElementById("text" + index).appendChild(input);

            </script>


        {% endif %}
    {% endfor %}

<input type="submit" value="Отправить" />
</form>

    {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
    {% endif %}
</div>
{% endblock %}

