{% extends "base_generic.html" %}
{% block content %}
<div class="content">

    {% if user.is_authenticated %}

    <p>Вы получили {{result}} балла(-ов) из {{qcount}}</p>
<ul>
{% for question, q_answers in answers.items %}
    <li>{{question}} <br>
        <span class="remark">Ваш ответ:<br></span>
        {% for answer in q_answers %}
            {% if answer.1 == "right" %}
                <span class="right">{{answer.0}} ({{answer.1}})<br></span>
            {% else %}
                <span class="wrong">{{answer.0}} ({{answer.1}})<br></span>
            {% endif %}
        {% endfor %}
    </li>
    <hr>
{% endfor %}
</ul>

      {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
      {% endif %}
</div>
{% endblock %}
