{% extends "base_generic.html" %}
{% block content %}
<div class="content">

      {% if user.is_authenticated %}

    {% if count_of_poll_instance  %}
    <p>Students:</p>
        {% for student, count in count_of_poll_instance.items %}
            <li><a href = "{% url 'userpolls' student.username %}">{{student.username}} ({{count}})</a></li>
        {% endfor %}
    {% else %}
    <p> Пока не зарегистрировано ни одного студента.</p>
    {% endif %}


      {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
      {% endif %}
</div>
{% endblock %}