{% extends "base_generic.html" %}



{% block content %}
<div class="content">

    {% if user.is_authenticated %}
<h1>Опрос успешно создан</h1>

    {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
    {% endif %}

</div>
{% endblock %}