{% extends "base_generic.html" %}
{% block content %}
<body>
<div class="content">

    {% if user.is_authenticated %}

<h1>История прохождения Ваших опросов</h1>
    <br>
    <table >
        <tr>
            <th>Название опроса</th>
            <th>Дата и время прохождения</th>
            <th>Количество баллов</th>
        </tr>
{% for poll, n in  data.items%}
        <tr>
            <td><a href="{% url 'showresult' poll.poll.name username poll.id%}">{{poll.poll.name}} ({{poll.poll.topic}})</a></td>
            <td> {{poll.date}} </td>
            <td> {{poll.result}} из {{n}} </td>
        </tr>
{% endfor %}
    </table>

      {% else %}
<p>Для продолжения работы, пожалуйста, <a href="{% url 'login'%}?next/}">войдите</a> в систему.</p>
      {% endif %}

</div>
{% endblock %}
</body>