{% extends "base_generic.html" %}

{% block content %}
<div class="login content">
{% if form.errors %}
<p>Вы ввели неверные имя пользователя и пароль. Попробуйте еще раз</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У Вас нет доступа к этой странице, пожалуйста, обратитесь к администратору.</p>
    {% else %}
    <!--<p>Вы должны залогиниться, чтобы видеть эту страничку.</p> -->
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}


  Логин:
  {{ form.username }} <br>

  Пароль:
  {{ form.password }} <br>

  <input type="submit" value="Войти" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}