{% extends "base_generic.html" %}

{% block content %}
<div class="content register">
  <h1>Регистрация пользователя</h1>
    <p class="error">{{error}}</p>
  <form action="{% url 'registersuccess'%}" method="post">
      {% csrf_token %}
    {% if form.error_dict %}
      <p class="error">Пожалуйста исправьте ошибки.</p>
    {% endif %}

    {% if form.username.errors %}
      {{ form.username.html_error_list }}
    {% endif %}

    Логин:
    <input type="text" name="username" /><br>

    {% if form.password1.errors %}
      {{ form.password1.html_error_list }}
    {% endif %}

   Пароль:
    <input type="password" name="password" /><br>

    {% if form.password2.errors %}
      {{ form.password2.html_error_list }}
    {% endif %}

    Повторите пароль:
    <input type="password" name="repeat_password" /><br>

    <input type="submit" value="Зарегистрировать" />
  </form>
</div>
{% endblock %}