.sidebar-nav {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    float: center;
    font-size:16pt;
}

.sidebar-nav li {
    float: left;
}

.sidebar-nav .logout {
    float: right;
}

.sidebar-nav li a {
    color: white;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: hotpink;
}

.sidebar-nav li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

@media screen and (min-width: 1100px) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }


}

.login, .register {
    text-align: center;
}

.login input, .register input {
    margin: 10px;
}


.content {
    padding: 20px;
    font-family: "Tahoma, Geneva, sans-serif";
    font-size:18pt;
}

.error {
    color: red;
}

table {
    font-family: 'Open Sans', sans-serif;

    border: 2px solid;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    font-style: italic;
}

td, th {
    border: 2px solid;
    text-align: center;
}

span.right{
    color: green;
}

span.wrong{
    color: red;
}

span.remark {
    font-size: 0.9em;
    font-style: italic;
}

h1 {
    font-size: 26pt;
}